.sidebar {
    width: 18%;
    min-height: 100vh;
    border: 1.5px solid #a9a9a9;
    border-top: 0;
    font-size: max(1vw, 10px);
    padding: 20px 10px;
  }
.sidebar-option {
  display: flex;
  align-items: center;
  gap: 12px;
  border: 1px solid #a9a9a9;
  border-right: 0;
  padding: 8px 10px;
  cursor: pointer;
  transition: 0.2s;
  border-radius: 3px 0px 0px 3px;
}

.sidebar-option:hover {
  background-color: #f0f0f0;
}

   
.sidebar-option {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .sidebar-option:hover,
  .sidebar-option.active {
    background-color: #f0f0f0;
    border-color: tomato;
    border-radius: 8px;
  }
  
  .sidebar-option img {
    width: 24px;
  }
  
  @media (max-width: 900px) {
    .sidebar-option p {
      display: none;
    }
  }
  