.sidebar {
  width: 18%;
  min-height: 100vh;
  border: 1.5px solid var(--border-color);
  border-top: 0;
  font-size: max(1vw, 10px);
  padding: 20px 10px;
  background-color: var(--bg-color-alt);
}

.sidebar-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar-option {
  display: flex;
  align-items: center;
  gap: 12px;
  border: 1px solid var(--border-color);
  border-right: 0;
  padding: 15px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 8px 0 0 8px;
  background-color: var(--bg-color);
  color: var(--text-color);
  text-decoration: none;
}

.sidebar-option:hover,
.sidebar-option.active {
  background-color: var(--primary-color);
  color: white;
  border-color: var(--primary-color);
  transform: translateX(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sidebar-option svg {
  width: 24px;
  height: 24px;
}

.sidebar-option p {
  margin: 0;
  font-weight: 500;
}

@media (max-width: 900px) {
  .sidebar-option p {
    display: none;
  }
}
  